<div id="singleShowDetails" class="is-hidden">
    <h3 id="showHeaderInfo"></h3>
    <div class="field">
        <label class="label">Show Name (if same as event, leave empty)</label>
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="Show Name" id="showName">
        </div>
    </div>
    <div class="field">
        <label class="label">Show Capacity</label>
        <div class="control has-icons-left">
            <p class="help is-danger is-hidden" id="showCapacityInvalid">Please input a positive
                integer</p>
            <input class="input" type="text" placeholder="#" id="showCapacity">
        </div>
    </div>
    <div class="field">
        <label class="label">Ticket Price</label>
        <div class="control has-icons-left">
            <p class="help is-danger is-hidden" id="ticketPriceInvalid">Please input a positive
                value of the form x.yz</p>
            <input class="input" type="text" placeholder="$x.yz" id="ticketPrice">
        </div>
    </div>
    <div class="field">
        <label class="label">Location</label>
        <div class="control has-icons-left">
            <p class="help is-danger is-hidden" id="showLocationInvalid">Please input a non-empty
                value</p>
            <input class="input" type="text" placeholder="Location" id="showLocation">
        </div>
    </div>
    <div class="field">
        <label class="label">Description (optional)</label>
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="Description" id="description">
        </div>
    </div>
    <div class="field">
        <label class="label">Date</label>
        <div class="control has-icons-left">
            <input type="date" id="startDate">
        </div>
    </div>
    <div class="field">
        <label class="label">Start Time</label>
        <div class="control has-icons-left">
            <input type="time" id="startTime">
        </div>
    </div>
    <div class="field">
        <label class="label">End Time</label>
        <div class="control has-icons-left">
            <input type="time" id="endTime">
        </div>
    </div>
    <div class="box">
        <div id="map"></div>
    </div>
    
</div>
<style>
    /* Set the size of the div element that contains the map */
   #map {
     height: 400px;  /* The height is 400 pixels */
     width: 100%;  /* The width is the width of the web page */
    }
 </style>
