<!DOCTYPE html>
<html>

<head>
    <% include head_imports.html %>

    <script type="text/javascript">
        var shows = []
        var currShowNum = 1
        var group // populated by getGroup() which is in helper.js

        function checkEvent() {

            // check for empty fields
            var name = $("#eventName").val()
            var tags = $("#eventTags").val()
            var group = $("#eventGroup").val()
            var showCount = $("#showCount").val()

            var nameValid = validateAndSetReactionaryColors("eventName", name != "")
            var tagsValid = validateAndSetReactionaryColors("eventTags", tags != "")
            var groupValid = validateAndSetReactionaryColors("eventGroup", group != "")
            var showCountValid = validateAndSetReactionaryColors("showCount", showCount != "" && showCount > 0)

            if (nameValid && tagsValid && groupValid && showCountValid) {
                addShowHTML() // in helper.js
            }
        }


        function checkShows() {
            // first, add last show info (method in helper.js)
            storeShowInfo()

            // next, make show objects and give to event creation
            $.post("/create_shows", {
                shows: shows
            }, function (showIDs, status) {
                if (status == "success") {
                    postEvent($("#eventName").val(), $("#eventTags").val().split(",").sort(), showIDs)
                    notifyGroupFollowers(group._id, group.displayName)
                }
                else alert("Internal server error." + status)
            })
        }

        function postEvent(name, tags, shows) {
            console.log("in post event... with shows " + shows)
            $.post("/create_event", {
                name: name,
                tags: tags,
                group_name: group.displayName,
                group: group._id,
                shows: shows
            }, function (data, status) {
                if (status == "success" && data) {
                    propogateEventID(data.eventID)
                } else {
                    alert("There was an error.")
                }
            })
        }

        // send event ID to all of its shows as well as the group that created it
        function propogateEventID(eventID) {
            console.log("input to propogateEventID is " + JSON.stringify(eventID))

            $.post("/add_event_id_to_group", {
                "eventID": eventID,
                "groupEmail": group.email
            }, (data, success) => {
                console.log(data)
                console.log(success)
                goHome("Successfully added event " + name + "!")
             })


            $.get("/get_event", {
                eventID: eventID
            }, function (data, status) {
                if (status = "success" && data.showIDs) {
                    data.showIDs.forEach(showID => {
                        console.log("showID: " + showID)
                        console.log("eventID: " + eventID)
                        $.post("/add_event_id_to_show", {
                            "eventID": eventID,
                            "showID": showID
                        }, (data, success) => { })
                    })
                }
            })
        }

        function clearFields() {
            $("#eventName").val("")
            $('#eventName').addClass('is-info');
            $("#eventTags").val("")
            $('#eventTags').addClass('is-info');
            $("#showCount").val("")
            $('#showCount').addClass('is-info');

            $("#showName").val("")
            $("#showLocation").val("")
            $("#showCapacity").val("")
            $("#ticketPrice").val("")
            $("#description").val("")
            $("#startDate").val("")
            $("#startTime").val("")
            $("#endTime").val("")

        }

        $(document).ready(function () {
            clearFields()
            getGroup()
        })
    </script>
</head>

<body>
    <% include header.html %>
    <div class="container has-text-centered">
        <h2 class="subtitle" id="greeting">Create Your Event, </h2>
    </div>

    <div class="container">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h3>Event Details</h3>
                    <div class="field">
                        <label class="label">Event Name</label>
                        <div class="control has-icons-left">
                            <p class="help is-danger is-hidden" id="eventNameInvalid">Please input a non-empty value</p>
                            <input class="input" type="text" placeholder="Event Name" id="eventName">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Tags (enter as comma separated values)</label>
                        <div class="control has-icons-left">
                            <p class="help is-danger is-hidden" id="eventTagsInvalid">Please input a non-empty value</p>
                            <input class="input" type="text" placeholder="Event Tags" id="eventTags">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Number of Shows</label>
                        <div class="control has-icons-left">
                            <p class="help is-danger is-hidden" id="showCountInvalid">Please input a positive integer
                            </p>
                            <input class="input" type="text" placeholder="#" id="showCount">
                        </div>
                    </div>

                    <p class="help is-danger" id="incorrect_warning"></p>
                    <div class="control">
                        <button class="button is-link" onclick="checkEvent()">Add Individual Shows</button>
                    </div>

                    <div class="control">
                        <button class="button is-link" onclick="clearFields()">Clear Fields</button>
                    </div>
                </div>
                <div class="column" id="showDetails">
                    <% include static/html/single_show.html %>
                    <div class="control">
                        <button class="button is-link is-hidden" id="nextShowButton" onclick="storeShowInfo()">Next
                            Show...</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-hidden" id="createEventButton" onclick="checkShows()">Create
                            Event!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>