<!DOCTYPE html>
<html>

<head>
    <% include head_imports.html %>

    <script type="text/javascript">
        var shows = []
        var currShowNum = 1
        var group // populated by getGroup() which is in helper.js

        var map

        function checkEvent() {

            // check for empty fields
            var name = $("#eventName").val()
            var tags = $("#eventTags").val()
            var group = $("#eventGroup").val()
            var showCount = $("#showCount").val()

            var nameValid = validateAndSetReactionaryColors("eventName", name != "")
            var tagsValid = validateAndSetReactionaryColors("eventTags", tags != "")
            var groupValid = validateAndSetReactionaryColors("eventGroup", group != "")
            var showCountValid = validateAndSetReactionaryColors("showCount", showCount != "" && showCount > 0)

            if (nameValid && tagsValid && groupValid && showCountValid) {
                addShowHTML() // in helper.js
            }
        }


        function checkShows() {
            // first, add last show info (method in helper.js)
            storeShowInfo(() => {
                // next, make show objects and give to event creation
                $.post("/create_shows", {
                shows: shows
            }, function (showIDs, status) {
                if (status == "success") {
                    alert("Shows propagated properly. Here is what shows sent")
                    alert(JSON.stringify(shows))
                    postEvent($("#eventName").val(), $("#eventTags").val().split(",").sort(), showIDs)
                    notifyGroupFollowers(group._id, group.displayName)
                }
                else alert("Internal server error." + status)
            })
            })

            
            
        }

        function postEvent(name, tags, shows) {
            $.post("/create_event", {
                name: name,
                tags: tags,
                group_name: group.displayName,
                group: group._id,
                shows: shows
            }, function (data, status) {
                if (status == "success" && data) {
                    propogateEventID(data.eventID)
                } else {
                    alert("There was an error.")
                }
            })
        }

        // send event ID to all of its shows as well as the group that created it
        function propogateEventID(eventID) {
            $.post("/add_event_id_to_group", {
                "eventID": eventID,
                "groupEmail": group.email
            }, (data, success) => {
                goHome("Successfully added event " + name + "!")
            })


            $.get("/get_event", {
                eventID: eventID
            }, function (data, status) {
                if (status = "success" && data.showIDs) {
                    data.showIDs.forEach(showID => {
                        $.post("/add_event_id_to_show", {
                            "eventID": eventID,
                            "showID": showID
                        }, (data, success) => { })
                    })
                }
            })
        }

        function clearFields() {
            $("#eventName").val("")
            $('#eventName').addClass('is-info');
            $("#eventTags").val("")
            $('#eventTags').addClass('is-info');
            $("#showCount").val("")
            $('#showCount').addClass('is-info');

            $("#showName").val("")
            $("#showLocation").val("")
            $("#showCapacity").val("")
            $("#ticketPrice").val("")
            $("#description").val("")
            $("#startDate").val("")
            $("#startTime").val("")
            $("#endTime").val("")

        }

        // don't rename unless you change the callback in the script linked below
        // code started from https://developers.google.com/maps/documentation/javascript/examples/map-geolocation
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), { // for some reason, this doesn't work if we swap to jquery so leave as is
                center: { lat: 0, lng: 0 }, // changes as soon as we get user location
                zoom: 10
            });
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map.setCenter(pos)
                }, () => {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }

        $(document).ready(function () {
            clearFields()
            getGroup()
        })
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeFrV6RDkp2aKMEW07JB0_fpfwBcsnYoA&callback=initMap">
        </script>

</head>

<body>
    <% include header.html %>
    <div class="container has-text-centered">
        <h2 class="subtitle" id="greeting">Create Your Event, </h2>
    </div>

    <div class="container">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h3>Event Details</h3>
                    <div class="field">
                        <label class="label">Event Name</label>
                        <div class="control has-icons-left">
                            <p class="help is-danger is-hidden" id="eventNameInvalid">Please input a non-empty value</p>
                            <input class="input" type="text" placeholder="Event Name" id="eventName">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Tags (enter as comma separated values)</label>
                        <div class="control has-icons-left">
                            <p class="help is-danger is-hidden" id="eventTagsInvalid">Please input a non-empty value</p>
                            <input class="input" type="text" placeholder="Event Tags" id="eventTags">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Number of Shows</label>
                        <div class="control has-icons-left">
                            <p class="help is-danger is-hidden" id="showCountInvalid">Please input a positive integer
                            </p>
                            <input class="input" type="text" placeholder="#" id="showCount">
                        </div>
                    </div>

                    <p class="help is-danger" id="incorrect_warning"></p>
                    <div class="control">
                        <button class="button is-link" onclick="checkEvent()">Add Individual Shows</button>
                    </div>

                    <div class="control">
                        <button class="button is-link" onclick="clearFields()">Clear Fields</button>
                    </div>
                </div>
                <div class="column" id="showDetails">
                    <% include static/html/single_show.html %>
                    <div class="control">
                        <button class="button is-link is-hidden" id="nextShowButton" onclick="storeShowInfo(()=>{})">Next
                            Show...</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-hidden" id="createEventButton" onclick="checkShows()">Create
                            Event!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>