<!DOCTYPE html>
<html>

<head>
    <% include head_imports.html %>
</head>

<body>
    <% include header.html %>
    <button class="button is-link" type="submit" onclick="location.href = '/create_event';">Create Event</button>
</body>

</html>