<!DOCTYPE html>
<html>

<head>
    <% include head_imports.html %>
    <script type="text/javascript">
        // on document start
        $(document).ready(function () {
            // NOTE: this method is in static/helper.js
            loadEvents()
            getMessage()
        })

        //loadEvents calls displayEvent
    </script>
</head>

<body>
    <% include header.html %>

    <article class="message is-success is-small is-hidden" id="msgBlock">
        <button class="delete is-small" aria-label="delete" onclick="deleteMessage()"></button>
        <div class="message-body" id="msg"></div>
      </article>

    <div class="columns">

        <!-- left margin -->
        <div class="column is-1">
        </div>

        <div class="column is-6">
            <p class="subtitle is-3">Current Events</p>
                    <button class="button is-link" type="submit" onclick="location.href = '/create_event';">Create New Event</button>
                    <br><br>
            <ul id="currentEvents">
            </ul>
        </div>
    </div>
</body>

</html>