<!DOCTYPE html>
<html>

<head>
    <% include head_imports.html %>
</head>

<script type="text/javascript" src="/routes/routes.js"></script>

    <body>
        <% include header.html %>
        <div class="container has-text-centered">
            <h2 class="subtitle">Welcome to Unitix!</h2>
        </div>
        </nav>
          <div class="pl-3 pt-3">
            <h4>Enter email here: </h4>
            <form action="/checklogin" method="post">
              <input type="text" name="email">
            </p>
                 <h4>Enter password here: </h4>
              <input type="password" name="password">
              </p>
                  <button type="submit" value="Login" class="btn btn-primary">Login</button>
            </form>
            <br>
            <br>
            <h5>Not signed up? <a href="/register"> Register Now!</a></h5>
            &nbsp;
            <%if (message != null) { %>
                <font color="red">
                    &nbsp;
                    &nbsp;
                    <center><%= message %><p>
                <% } %></center>
            </p>
          </div>
      </body>

</html>