<!DOCTYPE html>
<html>

<head>
    <% include head_imports.html %>
</head>

<body>
    <% include header.html %>
    <form action="/updategroup" method="post">
        <div class="row">
            <div class="column">
                <div class="field">
                    <h4>Group name: </h4>
                    <input id="groupName" type="text" name="groupName" required>
                </div>
            </div>
            <div class="column">
                <h4>Email: </h4>
                <input type="email" name="email" required>
            </div>
            <div class="column">
                <h4>Password: </h4>
                <input type="password" name="password" required>
            </div>
            <div class="column">
                <h4>Group Type: </h4>
                <input type="text" name="groupType" required>
            </div>
            <div class="column">
                <h4>Bio: </h4>
                <input type="text" name="bio" required>
            </div>
            <div class="column">
                <button style="margin-top: 2rem;" type="submit" value="Login" class="btn btn-primary">Save
                    Changes</button>
            </div>
        </div>
    </form>
</body>

</html>