<!DOCTYPE html>
<html>


    

<head>
    <% include head_imports.html %>
    <script type="text/javascript">


        function loadEvents() {
            $.getJSON('/get_group_with_events', (res) => {
                // console.log(typeof res);
                // console.log(res);
                var group = res.group;
                
                if (group) {
                    var currentEvents = group.currentEvents;
                    console.log(typeof currentEvents);
                    console.log(currentEvents);
                    currentEvents.forEach(event => {
                        
                        console.log(event);
                        $("#currentEvents").append(displayEvent(event));
                        // console.log(typeof event);
                        // console.log("here");
                    });
                }
            })
        }

        function requestTicket(ticketID) {
            alert("TODO: request ticket");
        }

        function viewShow(showID) {
            // alert('here');
            $("#" + showID).html("");
            $.getJSON("/get_show_with_tickets", {"showID":showID}, (data) => {
                console.log("show below");
                console.log(data.show);
                var show = data.show;
                var tickets = show.tickets;
                tickets.forEach((ticket) => {
                    var attendee = ticket.name ? ticket.name : "NAME N/A (id=" +ticket._id+")";
                    var clickPart = 'onClick="requestTicket(\'' + ticket._id + '\')"';
                    if (ticket.redeemed == false) {
                        // alert(1);
                        var btn = "<button "+clickPart+">Check in</button>";
                        attendee += btn;
                    }
        
                    $("#" + show._id).append(attendee);
                })
                var clickPart = 'onClick="unviewShow(\'' + show._id + '\')"';
                var closeButton = "<br><button "+clickPart+">Close attendees</button>";
                $("#" + show._id).append(closeButton);
                
            });
        }

        function unviewShow(showID) {
            $("#" + showID).html("");
        }

        function displayEvent(event) {
            var display = event.name;
            event.shows.forEach((show) => {
                var clickPart = 'onClick="viewShow(\'' + show._id + '\')"';
                var list = "<ul id=\"" + show._id + "\"></ul>";
                display += show.start_time + " " + show.start_date + "<br><button "+clickPart+">View Attendees</button>" + 
                list + "<br>";
            });
            
            
            return display;
        }


        // on document start
        $(document).ready(function () {
            loadEvents()
            // TODO: populate with events
            // TODO: add timer
        })
    </script>
</head>

<body>
    <% include header.html %>
    
    <div class="columns">
        <div class="column">
            <p class="subtitle is-3">Update Group Information</p>
        
        
            <form action="/updategroup" method="post">
                
                <div class="row">
                    
                    <div class="column">
                        <h4>Group name: </h4>
                        <input type="text" name="groupName" required>
                    </div>
                    <div class="column">
                        <h4>Email: </h4>
                        <input type="email" name="email" required>
                    </div>
                    <div class="column">
                        <h4>Password: </h4>
                        <input type="password" name="password" required>
                    </div>
                    <div class="column">
                        <h4>Group Type: </h4>
                        <input type="text" name="groupType" required>
                    </div>
                    <div class="column">
                        <h4>Bio: </h4>
                        <input type="text" name="bio" required>
                    </div>
                    <div class="column">
                        <button style="margin-top: 2rem;" type="submit" value="Login" class="btn btn-primary">Save
                            Changes</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="column">
            <p class="subtitle is-3">Current Events</p>
            <ul id="currentEvents">
            </ul>
        </div>
    </div>
</body>

</html>