<!DOCTYPE html>
<html>

<head>
    <% include head_imports.html %>
</head>

<body>
    <% include header.html %>
    <div class="container has-text-centered">
        <h2 class="subtitle">Welcome to Unitix!</h2>
    </div>
</body>

</html>